#!/usr/bin/make -f
export DH_VERBOSE = 1
export GOPATH = $(CURDIR)/_build/go

%:
	dh $@

override_dh_auto_build:
	go build -trimpath \
		-ldflags "-s -w" \
		-o wkmailsync ./cmd/wkmailsync

override_dh_auto_install:
	install -Dm755 wkmailsync debian/wkmailsync/usr/bin/wkmailsync

override_dh_auto_test:
